#title{
    color: #ffffff;
    font-size: 2em;
    font-weight:bold;
}

p{
    color: #ffffff;
    font-size: 1.2em;
}

html{
    scroll-behavior: smooth;
}

#about{
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    width:fit-content;
}